<div class="wrapper">
  <div class="logo">
      <img src="https://www.kindpng.com/picc/m/160-1607858_online-shopping-websites-logo-hd-png-download.png" alt="Online Shopping Websites Logo, HD Png Download@kindpng.com" alt="G-web Developers - Web Developer Logo Png, Transparent Png@kindpng.com" alt="">
  </div>
  <div class="text-center mt-4 name">
      TECHARM
  </div>
  <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="userName" id="userName" placeholder="Username">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="Password">
      </div>
      <button class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
      <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>
